nav {
  display: flex;
  justify-content: center; /* căn giữa */
}

nav ul {
  display: flex;        /* dàn ngang */
  list-style: none;     /* bỏ dấu chấm */
  gap: 50px;            /* khoảng cách */
  padding: 0;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

hello{
    display: flex;
    justify-content: center;
    
    color: rgb(rgb(237, 85, 85), rgb(43, 218, 43), blue);
}
