nav {
  display: flex;
  justify-content: center; /* căn giữa */
}

nav ul {
  display: flex;        /* dàn ngang */
  list-style: none;     /* bỏ dấu chấm */
  gap: 50px;            /* khoảng cách */
  padding: 0;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
 h1 {
   display: flex;
  justify-content: center;

}

#Gioithieu{
  text-align: center;
  color: aqua;
}
